<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>TradeGecko</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="bower_components/skeleton/css/normalize.css">
  <link rel="stylesheet" href="bower_components/skeleton/css/skeleton.css">

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="bower_components/skeleton/images/favicon.png">

</head>
<body ng-app="tradeGeckoApp">

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div class="container" ng-controller="tradeGeckoCtrl">
    <h1>{{header}}</h1>
    <!--search form-->
    <form name="gitHubForm">
      <label for="keywordInput">GitHub</label>
      <input class="u-full-width" type="text" placeholder="keyword" id="keywordInput" ng-model="keyword" required>
      <input class="button-primary" type="submit" value="{{searchButtonLabel}}" ng-click="searchGitHub(true)" ng-disabled="gitHubForm.$invalid || disableSearchButton">
    </form>
    <!--display search result-->
    <ol scroll-end-function="searchGitHub()">
     <li ng-repeat="repo in repos"><a style="cursor:pointer" ng-click="toggleRepoDetails($index)">{{repo.owner + '/' + repo.name}}</a>
        <ul ng-show="repo.showDetails">
          <li>language: {{repo.language}}</li>
          <li>followers: {{repo.followers}}</li>
          <li><a href="{{repo.url}}" target="_blank">{{repo.url}}</a></li>
          <li>description: {{repo.description}}</li>
        </ul>
      </li>
    </ol>
    <p ng-show="showLoadingMessage">loading ...</p>
    <p style="color:red" ng-show="showErrorMessage" ng-bind="errorMessage"></p>
  </div>

<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <script src="bower_components/jquery/dist/jquery.min.js"></script>
  <script src="bower_components/angular/angular.min.js"></script>
  <script src="app.js"></script>
</body>
</html>
